@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gustavo</h1>
    <p class="lead">"Se você acorda de manhã e pensa que o futuro será melhor, é um dia bom. Se não, não é." — Elon Musk</p>
    <p><a href="https://github.com/Gustavo13Cs/ProjetosTDSPublico" class="btn btn-primary btn-lg">Git Hub &raquo;</a></p>
</div>
